.image-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.viewer {
    overflow: auto;
    width: 100%;
    height: calc(100vh - 40px);
}

.metadata {
    position: fixed;
    right: 1em;
    margin: 0.5em;
    float: right;
    z-index: 111;
}

.settings-menu {
    color: #becbd6;
    background-color: #00000099;
}

.rendering-settings {
    margin-top: 20px;
}

.minerva-loader-center {
    z-index: 10000;
    position: absolute;
    left: 50%;
    top: 50%;
}
