.loginContainer {
    padding: 35px;
    background: #242a30;
    margin: auto;
    border-radius: 5px;

    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    transition: width 2s;
    transition: height 2s;
  	
    margin: auto;
    box-shadow: 0px 0px 5px #898;
    
}

.loginForm {
    margin: auto;
    width: 50%;
    min-width: 400px;
}

.loginPage {
    margin-top: 15px;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(208,0,112,1) 500%);
}

.loginHeader {
    text-align: center;
}