.treeRoot {
    text-align: left;
}

.treeNode {
    cursor: pointer;
    background-color: #111;
    color: #eee;
}

.treeNodeLevel1 {
    font-weight: bold;
    font-size: 14px;
}

.treeNodeLevel2 {
    font-weight: normal;
    font-size: 12px;
}

.treeNodeLevel3 {
    font-size: 12px;
}

.treeNodeLeaf {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}