.treeRoot {
    text-align: left;
}

.treeNode {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #eee;
}

.treeNode:hover {
    /*background-color: #333;*/
}

.treeNodeLevel1 {
    font-weight: bold;
    font-size: 14px;
}

.treeNodeLevel2 {
    font-weight: normal;
    font-size: 12px;
}

.treeNodeLevel3 {
    font-size: 12px;
}

.treeNodeLeaf {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.treeNodeLeaf:hover {
    background-color: rgba(65, 75, 85, 0.75);
}

.treeNodeDeleted {
    text-decoration: line-through;
}